#********** emacs template********** 

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
 

#********** osx template********** 

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
# public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
