---
layout: default
title: Home
---
<script type="text/javascript">
  document.getElementById("home").setAttribute("class","active");
</script>

<div class='post'>
  <div class="home-map">
    <a href="http://maps.google.com/maps?q={{site.map_query}}">
      <img src="http://maps.google.com/maps/api/staticmap?markers=color:red|label:B|{{site.map_query}}&size=240x200&sensor=false&zoom=16&key={{site.map_api_key}}" />
    </a>
  </div>

  <h2><a href="/about">Location</a> & <a href="/schedule">Schedule</a></h2>

  <p>
    Liberty Two - 50 South 16th St. Philadelphia, PA 19102<br />
  </p>
  <p>
    February 21, 2012<br />
    <strong>Presentations:</strong> 6pm - 8:30pm<br />
    <strong>After party:</strong> 8:30pm - the end<br />
  </p>
  <hr />
</div>

{% for post in site.posts %}
{% include post_template.html %}
{% endfor %}
