.clear { 
  clear: both; 
  padding-bottom: 20px;
}

.spacer { 
  display: block;
  padding: 20px;
}

.speaker, .person {
  margin-bottom: 10px;
  padding-bottom: 20px;
  .title {
    color: #61211B;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .pic {
    float: left;
    // margin: 15px auto;
    padding-right: 15px;
    img { 
      height: 175px;
    }
  }
  .author, .name {
    font-weight: bold;
  }
  .links a {
    color: #274675;
    font-size: 14px;
    border-bottom-style: none;

  }
}

#event-header {
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px ;
}

html { 
  -webkit-font-smoothing: antialiased;
}

